html{
    font-size: 10px;
}

    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color:black;
        padding: .5rem;
    
    }
    
    .nav {
        position:fixed;
        display: flex;
        height: 12vh;
        width: 100%;
        /* border: 2px solid black; */
        background-color:rgba(255, 255, 255, 0.1);
        z-index:2 ;
        backdrop-filter: blur(55px);
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
    .nav a{
        color:black;
        font-size: 18px;
        text-decoration: none;
        margin-left: 35px;
    
    }
    .navbar{
        margin: .5rem 0rem;
       
    }
    #navbar1 {
        width: 10%;
    }
    
    #navbar1 img {
        height: 5.5rem;
        width: 6.5rem;
        margin-top: 1rem;
        margin-left: 5rem;
    }
    
    #navbar2 {
        display: flex;
        box-sizing: border-box;
        justify-content: flex-end;
        align-items: center;
        width: 90%;
        /* border: 2px solid rgb(117, 15, 15); */
    
    }
    
    #navbar2 a {
        font-size: 2rem;
        padding: 1rem 2rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        border-radius: 5rem;
    /* 
        border: 2px solid rgb(117, 15, 15); */
    }
    #navbar2 a:hover{
        color:blue;
    }
